html{
	background-color: #d0edf4;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

html, body{
	margin: 0;
	padding: 0;
}

h1{
	font-size: 250%;
	color: ivory;
	text-shadow: 2px 2px 1px #15799e;
	margin: 0;
	position: absolute;
	top: 1vh;
}

header{
	background-color: #33b5e5;
	padding: 10px 20px;
	height: 5vh;
	min-height: 100%;
	position: relative;
	display: block;
}

nav {
	right: 0px;
	left: 0px;
	background-color: white;
	height: 3vh;
	margin-top: 3.5vh;
	padding: 10px 20px;
	position: absolute;
	display: block;
	top: 50%;
	width: 100%;

}

nav li {
	margin-top: 4px;
	float: left;
	height: 100%;
	
}

nav ol {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #333;
	overflow: hidden;
}

nav li a {
	display: block;
	color: #33b5e5;
	text-align: center;
	position: relative;
	text-decoration: none;
	height: 3vh;
	margin: 0 auto;
	margin-right: 10px;
	

}

nav li a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

nav .activee {
	background-color: #7B86A8; 
}



header img{
	float: right;
	height: 14vh;
	position: absolute;
	top: 0px;
	right: 0px;
}

#content {
	margin-top: 100px;
}

h3{
	text-shadow: 2px 2px 1px white;
	font-size: 200%;
	text-align: center;
}

p {
	font-size: 1.3em;
	margin-left: 20px;
}

table{
	border-collapse: collapse;
	text-align: center;
	margin: auto;
}

.highlight{
	background-color: rgb(255, 255, 0, 0.5);
	box-shadow: 0px 0px 3px yellow;
}

.labels th{
	padding: 5px;
	border-bottom: 3px groove black;
	border-right: 2px groove black;
}

.labels th:last-child{
	border-right: none;
}

td{
	padding: 8px;
}

th{
	padding-bottom: 3px;
}

#ssi{
	margin-top: 5px;
}

footer {
    background-color: #33b5e5;
    color: white;
    position: relative;
	bottom: 0px;
    width: 105%;
	text-align: center;
    margin: 0;
    bottom: 0;
    height: 3vh;
    padding: 0;
}
footer p {
	padding-top: 0.5vh;
	margin: 0;
	font-size: 14px;
	top: 50%;
}
